In [4]:
import pandas as pd

In [8]:
#Importing csv files

amazon_df = pd.read_csv(r"C:\Users\silvi\Project2\impacts-of-covid19\Data\AMZN (Amazon Stock).csv")

amazon_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,1465.199951,1553.359985,1460.930054,1539.130005,1539.130005,7983100
1,2019-01-03,1520.010010,1538.000000,1497.109985,1500.280029,1500.280029,6975600
2,2019-01-04,1530.000000,1594.000000,1518.310059,1575.390015,1575.390015,9182600
3,2019-01-07,1602.310059,1634.560059,1589.189941,1629.510010,1629.510010,7993200
4,2019-01-08,1664.689941,1676.609985,1616.609985,1656.579956,1656.579956,8881400

In [9]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 7 columns):
Date         379 non-null object
Open         379 non-null float64
High         379 non-null float64
Low          379 non-null float64
Close        379 non-null float64
Adj Close    379 non-null float64
Volume       379 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.9+ KB

In [10]:
amazon_df['Date'] = pd.to_datetime(amazon_df['Date'])

In [11]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 7 columns):
Date         379 non-null datetime64[ns]
Open         379 non-null float64
High         379 non-null float64
Low          379 non-null float64
Close        379 non-null float64
Adj Close    379 non-null float64
Volume       379 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 20.9 KB

In [ ]:
bitcoin_df = pr.read_csv(r"C:\Users\silvi\Project2\impacts-of-covid19\Data\BTC-USD (Bitcoin).csv")